<%- include('../partials/header') %>

<table>
    <thead>
        <tr>
            <th>Name:</th>
            <th>Type:</th>
            <th>Breed:</th>
            <th>Vet:</th>
            <th>Vet Date:</th>
            <th>Foster:</th>
        </tr>
    </thead>
    <tbody>
        <% animals.forEach(function(a){ %>
            <tr>
                <td><% a.picture %></td>
                <td><% a.name %></td>
                <td><% a.type %></td>
                <td><% a.breed %></td>
                <td><% a.vet %></td>
                <td><% a.vetWhen %></td>
                <td><% a.foster  %></td>
            </tr>
        <% }); %>
    </tbody>
</table>

<%- include('../partials/footer') %>