<%- include('../partials/header') %>

<form id="newform" action="/animals" method="POST">
    <label>Name:</label>
    <input type="text" name="name">
    <label>Picture (Url):</label>
    <input type="text" name="picture">
    <label>Type of animal:</label>
    <input type="text" name="type">
    <label>Breed:</label>
    <input type="text" name="breed">
    <label>Has the animal been to the vet yet?</label>
    <input type="checkbox" name="vet">
    <label>If so When?</label>
    <input type="datetime-local" name="vetWhen">
    <label>Does the animal have a foster yet?</label>
    <input type="checkbox" name="foster">
    <input type="submit" value="Add Animal">
</form>
<%- include('../partials/footer') %>
